// .o_footer #footer .o_footer_logo img {
//     max-width: none !important; 
//     max-height: none !important;
// }

@media (min-width: 1200px) {
    .col-xl-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25% !important;
    }
}