/* Imagen de escritorio */
.s_cover_custom .img-web {
  display: block !important;
  width: 100vw;   /* ocupa todo el ancho de la pantalla */
  height: auto;   /* mantiene proporción */
  object-fit: cover;
}

/* Imagen móvil oculta por defecto */
.s_cover_custom .img-mobile {
  display: none !important;
}

@media (max-width: 767px) {
  .s_cover_custom .img-web {
    display: none !important;
  }
  .s_cover_custom .img-mobile {
    display: block !important;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
