.s_cover_custom .img-web {
  display: block !important;
  //width: 100%;
  height: 300px;       /* altura fija para web */
  object-fit: cover;
}

.s_cover_custom .img-mobile {
  display: none !important;
}

/* Centrar controles verticalmente */
.s_cover_custom_slider .carousel-control-prev,
.s_cover_custom_slider .carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
}

/* Evitar scroll horizontal durante transición */
.s_cover_custom_slider .carousel-inner {
  overflow: hidden;
}

/* Ajustar indicadores abajo */
.s_cover_custom_slider .carousel-indicators {
  bottom: 10px;
}


@media (max-width: 767px) {
  .s_cover_custom .img-web {
    display: none !important;
  }
  .s_cover_custom .img-mobile {
    display: block !important;
    width: 100%;
    height: auto;       /* se adapta a su proporción */
    object-fit: contain; /* mostrar completa sin recortar */
  }
}
