.s_trending_box {
  .text-block {
    max-width: 1080px;
    margin: 0 auto;
    padding: 1rem 0;

    h4 {
      font-weight: 600;
    }

    h3 {
      font-weight: bold;
      color: #007bff;
    }

    .image-box {
      width: 120px;
      height: 80px;
      border-radius: 0.5rem;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    small {
      font-size: 0.75rem;
    }

    @media (max-width: 768px) {
      .text-content {
        text-align: center;
      }

      .image-box {
        margin-top: 0.5rem;
      }
    }
  }
}
