.o_dynamic_category_card {
    background-color: #000;
    width: 200px;
    min-height: 170px;
    border-radius: 6px;
    margin: 0 !important; // elimina cualquier margen exterior
}

.o_dynamic_category_image {
    height: 150px;
    object-fit: contain;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.o_dynamic_category_body {
    background-color: #000;
    min-height: 80px;
    margin: 0 !important; // asegura que tampoco haya margen en el cuerpo
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--gutter-x) * .5);
    padding-left: calc(var(--gut-x) * .9);
    margin-top: var(--gutter-y);
}